body {
    margin: 0px;
    font-family: monospace;
}

h1 {
    font-size: 2.5em;
}

a {
    cursor: pointer;
}

.container {
    margin-top: 5em;
    margin-bottom: 1em;
    text-size: 3em;
    padding-left: 3em;
    padding-right: 3em;
}

.container h1, h2, h3, h4, h5, h6 {
    color: #6c5ce7;
    font-size: 2.5em;
}

.container p {
    text-align: justify;
    font-weight: bold;
    font-size: 1.5em;
    color: #6c5ce7;
}
.container ul {
    list-style-type: decimal;
    color: #6c5ce7;
    font-size: 1.5em;
    padding-left: 5em;
}

.container li {
    margin-bottom: 10px;
}

.title {
    margin: 0px;
    background-color: #6c5ce7;
    color: #fff;
    font-size 2em;
    font-weight: bold;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
}

/* Barra de Navegación */
.nav {
    margin: 0px;
    padding-bottom: 1em;
    background-color: #6c5ce7;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    margin-left: 2em;
    margin-right: 2em;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:visited {
    color: #fff;
}

/* Los elemtos a con la clase active dentro de la clase nav */

.nav a.active {
    color: #fdcb6e;
}

.nav a:hover {
    color: #fdcb6e;
}

.text-center {
    text-align: center;
    align-items: center;
}

/* Clase general de las frutas y las frutas por separado */
.fruits {
    display: inline;
}

.fruit {
    height: 128px;
    width: 128px;
    margin-right: 6em;
    margin-top: 3em;
}

/* Botones */
button {
    font-family: monospace;
    margin-right: 15px;
    background-color: #6c5ce7;
    color: #fff;
    padding: 12px;
    font-size: 1.7em;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}

button:hover {
    background-color: #a29bfe;
    color: #fff;
    cursor: pointer;
}

button:active {
    background-color: #fdcb6e;
    color: white;
}

/* Puntos */
.points {
    margin-top: 2em;
    font-weight: bold;
    font-size: 2em;
}

.point {
    border-radius: 5px;
    background-color: #dfe6e9;
    color: #000;
    padding: 5px;
    width: 5em;
    text-align: center;
}
